modules = ["nodejs-20"]
run = "node server.js"
entrypoint = "server.js"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm start"]
